:root {
    --primary: #0088cc;
    --secondary: #027ab6;
    --blur: blur(5px);
}

/* When the light is checked */
:root:has(#light_mode:checked) {
    --shadow: 0 6px 13px #f5f5f5;
    --bg-color: #dadada;
    --secondary-bg-color: #bdbdbd;
    --modal-bg-color: #bdbdbd4f;
    --hover-secondary-bg-color: #a5a5a5;
    --text-color: #303030;
    --input-bkg: #f7f7f7;
    --form-block-bkg: #d4d4d4;
}

:root:has(#dark_mode:checked) {
    --shadow: 0 6px 13px #333333;
    --bg-color: #1e1e1e;
    --secondary-bg-color: #3b3b3b;
    --modal-bg-color: #3b3b3b94;
    --hover-secondary-bg-color: #494949;
    --text-color: #e4e4e4;
    --input-bkg: #444444;
    --form-block-bkg: #272727;
}

body {
    background-color: var(--bg-color);
}

a,
p,
div {

    color: var(--text-color);
}

input,
textarea,
select {
    background-color: var(--input-bkg);
}

.text_formatter {
    position: relative;
}

.text_formatter>* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "arial";
    color: black;
}

.popup-container {
    border-radius: 10px;
}

.tf_input {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: var(--input-bkg);
    outline: none;
    border: 1px solid var(--bg-color);
    color: var(--text-color);
}

.tf_input::placeholder {
    color: var(--text-color);
}

#text_input {
    width: 100%;
    min-height: 50px;
    max-height: 50px;
}

.tf_input:focus {
    border: 1px solid var(--primary);
}

.text_formatter>h2 {
    text-align: center;
    margin-top: 50px;
}

.text_formatter>p {
    text-align: center;
    margin-top: 15px;
    font-style: italic;
    color: gray;
}

.settings_cont {
    width: 100%;
    display: flex;
    justify-content: end;
}

.setting_btn {
    /* padding: 10px; */
    border-radius: 5px;
    height: 35px;
    width: 35px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    cursor: pointer;
    margin-left: 10px;
}


.setting_btn:hover {
    background-color: var(--hover-secondary-bg-color);
    transition: all 150ms ease-in-out;
}

.btn_icon {
    position: absolute;
    color: var(--text-color);
    fill: var(--text-color);
}

.theme_icon {
    opacity: 0;

}

.btn_icon.theme_set {
    opacity: 1;
}

.desc {
    max-width: 450px;
    margin: 15px auto 10px auto;
}

.input_cont {
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    width: fit-content;
}

.tf_control_group {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 450px;
}

.tf_control_group>input {
    width: 100%;
    padding: 10px;
}

.color_input {
    cursor: pointer;
}

.tf_btn {
    padding: 5px 7px;
    background-color: var(--primary);
    color: white;
    border-radius: 3px;
    margin-left: 10px;
}

.main-btn {
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.main-btn:hover {
    background-color: var(--secondary);
}

.out_put_cont {
    position: relative;
    width: 100%;
    display: flex;
}

#text_output {
    max-width: 435px;
    min-width: 435px;
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    padding: 5px 7px;
    cursor: pointer;
}

.upper_format_text_input_cont {
    position: relative;
}

.copy_upper_txt_btn {
    position: absolute;
    bottom: 7px;
    left: 7px;
    max-height: 18px;
    max-width: 18px;
    fill: white;
    color: white;
    margin: 0;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
}

.upper_format_text_input_cont:hover .copy_upper_txt_btn {
    z-index: 99;
    opacity: 1;
    transition: all 150ms ease-in-out;
}

.textarea_cont {
    position: relative;
    width: 100%;
}

.helper {
    cursor: pointer;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.helper,
.notification {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: var(--primary);
    padding: 5px;
    font-size: 12px;
    color: white;
    border-radius: 0 0 5px 5px;
}

.textarea_cont:hover>.helper {
    opacity: 1;
}

.notification {
    display: none;
    font-size: 18px;
    padding: 10px 15px;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    cursor: default;
}

.input_group_top {
    display: flex;
    align-items: center;
}

.form_item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.form_item>input {
    width: 100%;
}

.form_item:first-child {
    margin-right: 15px;
}

.input_group_top>span {
    margin-right: 10px;
}

.top-inputs {
    width: 50%;
}

#char-num {
    width: 35%;
}

.input_group_mid:first-child {
    margin-right: 10px;
}

.bottom_input_group {
    align-items: center;
}

#clear_output {
    position: absolute;
    left: 7px;
    bottom: 10px;
    z-index: 999;
}

.tab_navigation {
    display: flex;

}

.tab_nav_button {
    font-size: 14px;
    padding: 7px 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.tab_nav_button {
    font-weight: 500;
    transition: all 130ms ease-out;
}

.tab_nav_button::after,
.nav_tab_active::after {
    content: '';
    width: 60%;
    background-color: var(--primary);
    height: 3px;
    position: absolute;
    /* left: 0; */
    bottom: -3px;
    z-index: 9;
    border-radius: 3px;
}

.tab_nav_button::after {
    opacity: 0;
    transition: all 130ms ease-out;
}

.tab_nav_button:hover::after {
    width: 90%;
    opacity: 1;
    transition: all 130ms ease-in;
}

.nav_tab_active {
    font-weight: bold;
    transition: all 130ms ease-in;
}

.nav_tab_active::after {
    opacity: 1;
}

.tab {
    opacity: 0;
    height: 0;
    transition: all 130ms ease-out;
    position: relative;
    display: none;
}

.tab_active {
    opacity: 1;
    height: fit-content;
    transition: all 130ms ease-in;
    z-index: 9;
    display: block;
}

/* SETTINGS */
.main_modal_container {
    position: absolute;
    height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--modal-bg-color);
    backdrop-filter: var(--blur);
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}
.main_modal_container {
    height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 150ms ease-in-out;
}
.modal_active{
    z-index: 99999;
    height: 100%;
    opacity: 1;
    overflow: inherit;
    transition: all 150ms ease-in-out;
}

.settings_modal {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    width: 90%;
    max-width: 550px;
}

.settings_modal>h4 {
    margin-top: 0;
}

.close_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--text-color);
    fill: var(--text-color);
}

.setting_form_row {
    display: flex;
    justify-content: space-between;
}

.setting_form_col {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.input_block {
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    padding: 7px;
    border-radius: 7px;
    background-color: var(--form-block-bkg);
}

.input_block>p {
    margin: 0;
    margin-top: 6px;
}

.checkbox_input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.settings_form>p{
    margin: 0 0 5px 0;
}
/* CLEAR BUTTONS FOR SUFFIX AND PREFIX */
.x_clear_btn{
    position: absolute;
    right: 6px;
    top: 6px;
    padding: 5px 7px;
    border-radius: 3px;
    background-color: var(--primary);
    color: white;
    fill: white;
    cursor: pointer;
}
.x_clear_btn{
    opacity: 0;
    z-index: -1;
    transition: all 150ms ease;
}
.x_clear_btn:hover{
    
    background-color: var(--secondary);
}
.fix_input_group:hover>.x_clear_btn{
    opacity: 1;
    z-index: 9;
    transition: all 150ms ease;

}